@page "/about"
@model Meeting_Room_Booking.Pages.Test.aboutModel
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div style="background-color:#EBCECA;" class="container1">
        <br>
        <button style="float:left; width:130px;font-size:22px;background-color:#EBCECA;border: none;" id="b1" onclick="document.location.href='https://localhost:7158/home'">Home</button>
        <button style="float:left; width:130px;font-size:22px;background-color:#EBCECA;border: none;" id="b2" onclick="document.location.href='https://localhost:7158/about'">About Us</button>
        <button style="float:right;width:130px;font-size:22px;background-color:#EBCECA;border: none;" id="b3" onclick="document.location.href='https://localhost:7158/contact'">Contact Us</button>
        <button style="float:right;width:130px;font-size:22px;background-color:#EBCECA;border: none;" id="b4" onclick="document.location.href='https://localhost:7158/login'">Login</button>
        <h1 style="text-align:center">Paradox Meeting Room Booking System</h1>
        <hr>
    </div>

    <p style="font-size:20px">
        Workspace Reservation is an innovative solution that enables your teams to reserve flexible workspaces. This
        can be an open desk, personalized Zoom device or Zoom phone.<br> This easy-to-use and manage solution will modernize your workspaces.
        This guide outlines the technology you need for professional quality communication and provides best<br> practices for
        creating amazing meeting room spaces that will inspire your teams. Learn how to design, set up and deploy the perfect meeting room based on your unique needs.<br><br><br>
        What is it that's hard to get, that everyone wants, but causes much frustration? Meeting rooms of course! What
        else?! We set a new standard for meeting room management with<br> the introduction of the Room-tablet in
        2014. Today, it develops industry leading software solutions for the smart workplace – always with focus
        on simplicity, ease-of-use and<br> efficiency. We have just begun our journey to make workplaces around the
        world as smart as the people in them.<br><br> If you work in an office you have probably attended a meeting or two
        the last couple of days – and if that’s the case, you have probably used a meeting room. Are we correct?<br>
        What comes to your mind when you hear the word “meeting room”? Perhaps you see an out-of-the-box-designed
        room with a swing table and chairs? Or a room with bean<br> bags instead of chairs and without a table in the
        middle?<br><br> Most of us probably pictures the traditional, fairly dull, “conference room” though. But there are a
        bunch of different room types that can all be used for meetings:<br> Traditional conference rooms Let’s start
        with the original, the oldie (but goodie?): the traditional conference room! The name itself implies that
        it’s designed for larger<br> gatherings with many attendees rather than for the regular office meeting. <br><br>The
        typical conference room is characterized by a big rectangular table with 8-10 proper, formal looking chairs
        around it – think fifty shades of brown. Just image search<br> for “board room” and there it is. You might
        discern signs of contempt toward these meeting rooms… You are absolutely right – we generally don’t like
        them very much.<br> And here’s the two main reasons:Conference rooms are almost always overdimensioned, hence
        stealing valuable office space. The classical setup with the long, rectangular<br> table creates a distance
        between the attendees, hindering the natural flow of communication. Around a round or square table on the
        other hand, eye contact and idea exchange flow naturally.<br><br> Large conference rooms might be good for the
        monthly board meeting or other corporate meetings (even though we don’t believe corporate meetings
        necessarily have to be<br> all stiff and formal). Anyway, these rooms aren’t designed for the most common
        meetings with 1-4 attendees and it’s not unusual to see 1-2 people sit in a room suited for 8-10<br> people.
        Talk about waste of space… <br><br>To encourage everyone to come together to explore and expand on ideas,bringing them to life.
        <br>Even we don’t believe corporate meetings necessarily have to be all stiff and formal.<br>We offers quality accommodation like the way you want.
    </p>
</body>